<div class="footer dark-blue">
    <div class="container">
        <div class="row mx-auto" style="width: 80%;">
            <div class="col">
                <h3>About TIMA</h3>
                <a href="/" class="my-3">How to Book</a>
                <a href="/" class="my-3">Blog</a>
                <a href="/" class="my-3">Help center</a>
                <a href="/" class="my-3">About Us</a>
            </div>
            <div class="col-4">
                <h3>Payment Partners</h3>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339548088-c536c896b175cb38f99a31f5dd2a989a.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339578215-99466ea3d377ada2939bf2117df21b11.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339591544-eae8263f3d4021c8951e271bdddf60a0.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339553631-9cebb9f6a7a3b0e427b7a2d9da2fd8c0.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339557703-5697f31b3e12a942eabc0f613bff8fb9.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339567663-c7c5e25757f0d69375aa6de6ad57958f.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339567663-c7c5e25757f0d69375aa6de6ad57958f.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2021/04/07/1617778793443-2f6b7f7d0668a4a815962032dd8233a2.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2021/04/07/1617781232473-330f36367feac4132c5af1b3df54d3f1.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339648624-307f4a5f54e873a6c9f272673f193062.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2021/04/07/1617781253184-2ef4eea06e759ab13bc30fac59e715ad.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2021/04/07/1617781263528-febaf8c61699a7df689ffbd475abd453.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339666745-2be0cc98504595cda91d0a2a5342a20b.png?tr=q-75,h-20"
                        alt="img">
                </div>
                <div class="payment-logo">
                    <img src="https://ik.imagekit.io/tvlk/image/imageResource/2019/05/20/1558339663962-2037bef017440339eda165360a5e239f.png?tr=q-75,h-20"
                        alt="img">
                </div>
            </div>
            <div class="col">
                <h3>Follow us on</h3>
                <a href="/" class="my-3">Twitter</a>
                <a href="/" class="my-3">Facebook</a>
                <a href="/" class="my-3">Instagram</a>
                <a href="/" class="my-3">Youtube</a>
            </div>
            <div class="col">
                <h3>Contact Us</h3>
                <div class="row mb-2">
                    <div class="d-flex align-items-center mb-2">
                        <div class="icon rounded-circle">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <h5 class="mx-2 mb-1">Email</h5>
                    </div>
                    <p>h2tservice123@gmail.com</p>
                </div>
                <div class="row mb-2">
                    <div class="d-flex align-items-center mb-2">
                        <div class="icon rounded-circle">
                            <i class="fab fa-github"></i>
                        </div>
                        <h5 class="mx-2 mb-1">Github</h5>
                    </div>
                    <p>
                        <a href="https://github.com/nvminhtam/nmcnpm">Group19 Team</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>