<header class='header'>
  <nav class='navbar navbar-expand-lg navbar-light border-bottom bg-light'>
    <div class='container'>
      <a class='navbar-brand text-uppercase fw-bold logo-primary' href='/'>
        TiMa
      </a>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ms-auto me-auto'>
          <li class='nav-item'>
            <a class='nav-link active p-4' aria-current='page' href='/'>Home</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link p-4' href='#'>Shop</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link p-4' href='#'>Contact</a>
          </li>
        </ul>
        {{#if user}}
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Hi, {{user.username}} <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-4">
                       <li class="px-3 py-2">
                          <a href="/auth/profile">My Profile</a>
                        </li>
                        <hr>
                        <li class="px-3 py-2">
                          <a href="/auth/logout">Logout</a>
                        </li>
                    </ul>
            </li>
          </ul>
        {{else}}
          <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
            <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Login <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                       <li class="dropdown-item">
                          <form method="post" action="/auth/login">
                              <div class="mb-3">
                                  <input id="usernameInput" name="username" placeholder="Username" class="form-control form-control-sm" type="text" required="">
                              </div>
                              <div class="mb-3">
                                  <input id="passwordInput" name="password" placeholder="Password" class="form-control form-control-sm" type="password" required="">
                              </div>
                              <div class="mb-3">
                                  <button type="submit" class="btn btn-primary form-control form-control-sm">Login</button>
                              </div>
                              <div class="form-group text-center">
                                  <small><a href="/auth/register" >Register</a></small>
                              </div>
                          </form>
                        </li>
                    </ul>
                </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </nav>
</header>