<div class='container d-flex flight-banner py-4'>
  <div class='card p-4'>
    <form action='/flight/search'>
      <div class='btn-group w-100' role='group' aria-label='Basic example'>
        <button type='button' class='btn btn-primary w-100'>Flight</button>
        <button type='button' class='btn btn-secondary w-100'>Hotel</button>
        <button type='button' class='btn btn-secondary w-100'>Packages</button>
      </div>
      <div class='d-flex mt-3'>
        <div class='mr-3 w-100'>
          <label for='from' class='form-label'>From</label>
          <div class='input-group mb-3'>
            <select
              class='custom-select'
              id='from'
              name='from'
              aria-label='Example select with button addon'
            >
              <option selected>Choose...</option>
              {{#each departAirport}}
              <option value='{{this.airport_name}}'>{{this.airport_name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="w-100">
          <label for='to' class='form-label'>To</label>
          <div class='input-group mb-3'>
            <select
              class='custom-select'
              id='to'
              name='to'
              aria-label='Example select with button addon'
            >
              <option selected>Choose...</option>
              {{#each arrivalAirport}}
              <option value='{{this.airport_name}}'>{{this.airport_name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class='d-flex mt-3'>
        <div class='mr-3 w-100'>
          <label for='checkin' class='form-label'>Checkin</label>
          <input
            name='checkin'
            id='checkin'
            type='date'
            class='form-control w-100'
          />
        </div>
        <div class='w-100'>
          <label for='checkout' class='form-label'>Checkout</label>
          <input
            name='checkout'
            id='checkout'
            type='date'
            class='form-control w-100'
          />
        </div>
      </div>
      <div class='mt-3'>
        <div>
          <label for='flight-class' class='form-label'>Class</label>
          <select
            name='flight_class'
            id='flight-class'
            class='w-100 custom-select custom-select-lg'
          >
            <option value='economy'>Economy</option>
            <option value='first'>First</option>
            <option value='business'>Business</option>
          </select>
        </div>
      </div>
      <div class='d-flex mt-3 justify-content-between flex-row'>
        <div class='mr-3 w-100'>
          <label for='adult' class='form-label'>Adult</label>
          <select
            id='adult'
            name='adult'
            class='custom-select custom-select-lg w-100'
          >
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
          </select>
        </div>
        <div class='w-100'>
          <label for='children' class='form-label'>children</label>
          <select
            id='children'
            name='children'
            class='custom-select custom-select-lg w-100'
          >
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
          </select>
        </div>
      </div>
      <button type='submit' class='mt-3 w-100 btn btn-primary'>Search Flight</button>
    </form>
  </div>
  <div class='banner'>
    <p>Lorem ipsum dolor sit amet</p>
    <h1>Exclusive Limited Time Offer</h1>
    <h2>Fly to Hong Kong via Los Angeles, USA</h2>
    <h1>$599</h1>
  </div>
</div>