<main>
    <div class="section">
    </div>
    <div class="card vh-100">
        <div class="main-info shadow">
            <div class="content">
                <div class="row">
                    <h2>Flight from Da Nang to Ho Chi Minh</h2>
                </div>
                <div class="row">
                    <div class="col-auto icon">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="24" height="24"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M104.8125,142.4375h-0.168c-1.35473,-10.75008 -10.49693,-18.81248 -21.33203,-18.81248c-10.8351,0 -19.9773,8.06241 -21.33203,18.81248h-0.16794c-7.42133,0 -13.4375,6.01617 -13.4375,13.4375c0,7.42133 6.01617,13.4375 13.4375,13.4375h43c7.42133,0 13.4375,-6.01617 13.4375,-13.4375c0,-7.42133 -6.01617,-13.4375 -13.4375,-13.4375z" fill="#3498db"></path><path d="M155.68865,113.10857c-1.2052,-7.82139 -7.90738,-13.61273 -15.82087,-13.67078c-7.91349,-0.05805 -14.69991,5.63435 -16.01972,13.43721h-5.59806c-7.42133,0 -13.4375,6.01617 -13.4375,13.4375c0,7.42133 6.01617,13.4375 13.4375,13.4375h34.9375c6.93478,-0.00043 12.73034,-5.2777 13.37854,-12.18212c0.6482,-6.90442 -4.06387,-13.16817 -10.87739,-14.45931z" fill="#3498db"></path><path d="M64.5,115.5625h32.25c6.94244,-0.00063 12.74166,-5.2893 13.38025,-12.20231c0.6386,-6.91301 -4.09366,-13.17454 -10.9185,-14.44694c-1.17851,-6.31993 -6.66786,-10.92011 -13.0965,-10.97513c-6.42864,-0.05502 -11.99591,4.45054 -13.28242,10.74938h-8.33284c-7.42133,0 -13.4375,6.01617 -13.4375,13.4375c0,7.42133 6.01617,13.4375 13.4375,13.4375z" fill="#3498db"></path><path d="M115.5625,88.6875h40.3125c6.93478,-0.00043 12.73034,-5.2777 13.37854,-12.18212c0.6482,-6.90442 -4.06387,-13.16817 -10.87739,-14.45931c-1.2052,-7.82139 -7.90738,-13.61273 -15.82087,-13.67078c-7.91349,-0.05805 -14.69991,5.63435 -16.01972,13.43721h-10.97306c-7.42133,0 -13.4375,6.01617 -13.4375,13.4375c0,7.42133 6.01617,13.4375 13.4375,13.4375z" fill="#3498db"></path><path d="M132.47462,89.47494l-5.14979,5.14979l-3.50079,-7.71124l7.07586,-7.07592c0.68597,-0.67741 0.95648,-1.67039 0.70889,-2.60213c-0.24759,-0.93174 -0.97533,-1.65945 -1.90708,-1.907c-0.93175,-0.24755 -1.92471,0.02301 -2.6021,0.709l-5.64861,5.64861l-11.48535,-25.29988l21.58775,-21.58777c7.34596,-7.34596 7.34596,-19.2561 0,-26.60206c-7.34596,-7.34596 -19.2561,-7.34596 -26.60206,0l-21.58777,21.58777l-25.29978,-11.48535l5.64861,-5.6487c1.03813,-1.05133 1.03277,-2.74356 -0.012,-3.78829c-1.04477,-1.04473 -2.737,-1.05002 -3.78829,-0.01184l-7.07586,7.07576l-7.71114,-3.50076l5.14979,-5.14979c0.6837,-0.67788 0.9525,-1.66973 0.70463,-2.60007c-0.24787,-0.93034 -0.97452,-1.65697 -1.90486,-1.90482c-0.93034,-0.24785 -1.92219,0.02097 -2.60005,0.70468l-6.57704,6.57693l-3.85014,-1.74792c-0.93869,-0.42762 -2.03936,-0.2797 -2.83185,0.38058l-16.125,13.4375c-0.67326,0.56285 -1.02968,1.4187 -0.95495,2.29306c0.07474,0.87436 0.57124,1.6573 1.33025,2.09773l43.80754,25.36148l-27.66418,27.66416l-16.00691,-3.99975c-0.97787,-0.2424 -2.00931,0.0805 -2.67439,0.83724l-11.57665,13.23016c-0.55878,0.63972 -0.78235,1.5059 -0.60297,2.33614c0.17938,0.83024 0.74061,1.52686 1.51365,1.87883l26.03381,11.83261l-5.32125,5.32125c-1.04172,1.05074 -1.03804,2.7459 0.00822,3.79212c1.04626,1.04621 2.74143,1.0498 3.79212,0.00804l5.32125,-5.32125l11.83261,26.03381c0.35204,0.77297 1.04865,1.33411 1.87886,1.51349c0.8302,0.17938 1.69635,-0.04411 2.33611,-0.60278l13.23021,-11.57657c0.75919,-0.66347 1.08255,-1.69642 0.83721,-2.67436l-3.99986,-16.00691l27.66416,-27.66416l25.36148,43.80759c0.44025,0.75924 1.22325,1.25594 2.09771,1.33068c0.87446,0.07474 1.73039,-0.28187 2.2931,-0.95539l13.4375,-16.125c0.6597,-0.79274 0.80757,-1.89307 0.38055,-2.83185l-1.74792,-3.85014l6.57704,-6.57717c1.03813,-1.05133 1.03277,-2.74356 -0.012,-3.78829c-1.04477,-1.04473 -2.737,-1.05002 -3.78829,-0.01184zM23.48913,23.78857l11.87338,-9.89441l43.94331,19.94794l-14.09938,14.09935zM54.62895,105.96729l3.97089,15.8888l-9.27502,8.11499l-11.17057,-24.57539l9.43312,-9.43312c1.03718,-1.05148 1.03137,-2.74292 -0.013,-3.78726c-1.04437,-1.04433 -2.73581,-1.05008 -3.78726,-0.01287l-9.43312,9.43313l-24.57528,-11.17059l8.11499,-9.27502l15.8888,3.97089c0.91535,0.23186 1.88512,-0.03651 2.55103,-0.70598l31.19392,-31.19403l0.00116,-0.00116l41.22305,-41.22302c5.25017,-5.22918 13.74275,-5.22067 18.98242,0.01903c5.23967,5.2397 5.24814,13.73229 0.01893,18.98242l-72.41805,72.41815c-0.66784,0.66686 -0.93597,1.6357 -0.70601,2.55103zM115.96116,116.26063l-24.15289,-41.71712l14.09938,-14.09938l19.94797,43.9432z" fill="#151a6a"></path></g></g></svg>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div>Da Nang (DAD) → Ho Chi Minh City (SGN)    |    13 Jan 2022</div>
                            <div>1 Adult, 1 Child    |    Premium_economy</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>
<style>
    .section {
        background-color: #0770cd;
        height: 152px;
        margin-bottom: -56px;
        width: 100%;
    }
    .card {
        width: 960px;
        margin: 0 auto;
        border: 0;
    }
    .main-info {
        margin-bottom: 16px;
        position: relative;
        background-color: #fff;
        border-radius: 6px;
        
    }
    .content {
        padding: 16px;
        
    }
</style>